<h1 mat-dialog-title>Digite os dados do usuário </h1>
<form (ngSubmit)="submit()" #frm="ngForm" [formGroup]="frmUser"> 
<div mat-dialog-content>
  <p>Nome:</p>
  <mat-form-field appearance="fill">
    <mat-label>Ex: Armando Pinto</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
</div>
<div mat-dialog-content>
    <p>Endereço:</p>
    <mat-form-field appearance="fill">
      <mat-label>Ex: Rua puta que paril nº 69</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>CPF:</p>
    <mat-form-field appearance="fill">
      <mat-label>Ex: 000.000.000-00</mat-label>
      <input matInput formControlName="cpf">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Telefone</p>
    <mat-form-field appearance="fill">
      <mat-label>Ex: Não precisa de exemplo</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial type="submit">Ok</button>
</div>
</form>
